<div role="alert" class="alert w-4/5">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-info">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <div>
      <h3 class="font-bold">{{filename}}</h3>
      <div class="text-xs">{{creation_date}}</div>
    </div>
    <a href="/render?model_uuid={{filename}}" class="btn btn-primary btn-sm">View</a>
    <div class="tooltip" data-tip="{{info}}">
      <button class="btn">Info</button>
    </div>
  </div>
  
  <div class="divider"></div>
  